<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <header class="header clearfix">
      <nav>
        <div class="row">
          <div class="col-2"><%= button_to "全表示", instagrams_path,method: :get,:class => "btn btn-outline-primary" %></div>
          <div class="col-2"><%= button_to "ログアウト"  ,session_path(current_user.id) ,local: true, scope: :session ,method: :delete ,:class => "btn btn-outline-primary"%></div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <% else %>
    <header class="header clearfix">
      <nav>
        <div class="row">
          <div class="col-4"><%= button_to "アカウントを作成する", new_user_path ,:class => "btn btn-outline-primary", method: :get %></div>
        </div>
      </nav>
    </header>

    <%= image_tag("insta_top.png" , class: "top_image clearfix")  %>

    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

    <div class="top_form">
    <h1>ログイン</h1>
    <%= form_with(scope: :session, url: sessions_path) do |f| %>
    <table>
      <tr>
        <th><%= f.label :Eメール %></th>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <th><%= f.label :パスワード %></th>
        <td><%= f.password_field :password %></td>
      </tr>
    </table>
    <br>
    <%= f.submit "ログイン" %>

  </div>

    <% end %>

    <% end %>


    <footer class="footer">
      <p>名前：栗本 裕基  　　受講時期：2017/8/1 ～　</p>
    </footer>
  </body>
</html>
